<div class="content-wrapper">
    <section class="content-header">
        
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Masters</a></li>
            
            <li class="active">Subject</li>
        </ol>
    </section>
    <section class="content">


        <div class="row">
            <div class="col-md-12">
                <mat-card class="dbox">
                    <div class="dbox-header">
                        <!-- <mat-card-title> Widgets </mat-card-title> -->
                        <div class="row"> <div class="col-md-12" > 
                          <!-- <button mat-icon-button color="accent" style="float:right !important" data-toggle="modal" data-dismiss="modal" data-target="#myModal" (click)="opendialog(row,'update')" > <i class="material-icons">add</i>Add</button> -->
                          <button class="btn btn-primary " style="float:right !important" data-toggle="modal" data-dismiss="modal" data-target="#myModal" (click)="opendialog(model,'insert')"><i class="fa fa-plus" aria-hidden="true"></i> New Record</button>
                        
                        </div></div>
                     
                    </div>
                    <mat-card-content>
                       
                            <mat-table #table [dataSource]="dataSource" >
                          
                              <!-- Position Column -->
                              <ng-container matColumnDef="action">
                                <mat-header-cell *matHeaderCellDef [ngClass]="'customWidthClass'">  </mat-header-cell>
                                <mat-cell *matCellDef="let row" [ngClass]="'customWidthClass'"> 
                                        <a> <i class="fa fa-edit commandicons" style="font-weight: bold" data-toggle="modal" data-dismiss="modal" data-target="#myModal" (click)="opendialog(row,'update')"  ></i></a>
                                <!-- <button mat-icon-button color="accent" data-toggle="modal" data-dismiss="modal" data-target="#myModal" (click)="opendialog(row,'update')" > <i class="material-icons">edit</i></button>
                                <button mat-icon-button color="accent" (click)="deletefnc(row)" > <i class="material-icons">delete</i></button> -->
                                
                                      
                                  </mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="subcode">
                                <mat-header-cell *matHeaderCellDef   > Code </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.subcode}} </mat-cell>
                              </ng-container>
                          
                              <!-- Name Column -->
                              <ng-container matColumnDef="subname">
                                <mat-header-cell *matHeaderCellDef > Name </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.subname}} </mat-cell>
                              </ng-container>

                              <ng-container matColumnDef="act2">
                                <mat-header-cell *matHeaderCellDef [ngClass]="'commandright'">  </mat-header-cell>
                                <mat-cell *matCellDef="let row" [ngClass]="'commandright'"> 
                                        <a> <i class="fa fa-minus-circle commandicons" style="font-weight: bold" (click)="deletefnc(row)"></i></a>
                                    <!-- <button mat-icon-button color="accent" data-toggle="modal" > <i class="material-icons">edit</i></button>
                                    <button mat-icon-button color="accent" (click)="deletefnc(row)"> <i class="material-icons">delete</i></button> -->
                                </mat-cell>
                            </ng-container> 
                                                                                
                              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            </mat-table>
                         
                    </mat-card-content>
                </mat-card>
            </div>

        </div>


        <div id="myModal" class="modal fade"  modal="delbcat" data-backdrop="false" role="dialog">
            <form name="form" (ngSubmit)="f.form.valid && SaveSubjectDetails(f)" #f="ngForm" novalidate>
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">{{title}}</h4>
                  <button type="button" class="close" data-dismiss="modal" #closeAddExpenseModal ng-click="dclb()">&times;</button>
                </div>
                <div class="modal-body"> 

                    <div class="row">
                        <div class="col-md-12">
                           <mat-form-field class="full-width pad-r-0">
                            <input matInput name="subcode" [(ngModel)]="model.subcode" #subcode="ngModel" placeholder="Code" maxlength="6" required>
                          </mat-form-field>
                        </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                               <mat-form-field class="full-width pad-r-0">
                                <input matInput name="subname" [(ngModel)]="model.subname" #subname="ngModel" placeholder="Name" maxlength="50" required>
                              </mat-form-field>
                            </div>
                            </div>

                            <div class="form-group row" [ngClass]="{ 'has-error': f.submitted && !subcaId.valid }">
                                
                                    <div class="col-sm-12">  
                                     <mat-form-field class="pad-l-0 full-width">
                                        <mat-select placeholder="subcat name"  name="subcaId"
                                        [(ngModel)]="model.subcaId"  #subcaId="ngModel">
                                        <mat-option *ngFor="let k of subcat" [value]="k.subcaid">
                                            {{ k.subcanm }}
                                        </mat-option>
                                        </mat-select> 
                                    </mat-form-field>
                                    
                                </div>
                            </div> 

                        <div class="row" [ngClass]="{ 'has-error': f.submitted && !subgpId.valid }">
                                <!-- <label class="col-sm-2 col-form-label">Sub Name</label> -->
                                    <div class="col-sm-12"> 
                                    <mat-form-field class="pad-l-0 full-width">
                                        <mat-select placeholder="subgp name"  name="subgpId"
                                        [(ngModel)]="model.subgpId"  #subgpId="ngModel">
                                        <mat-option *ngFor="let k of subgp" [value]="k.subgpid">
                                            {{ k.subgpnm }}
                                        </mat-option>
                                        </mat-select> 
                                    </mat-form-field>
                                  
                                </div>
                            </div>

                          <input type="hidden" name="dbnm" [(ngModel)]="tempdbnm" #dbnm="ngModel" >
                          <input type="hidden" name="subid" [(ngModel)]="model.subid" #subid="ngModel" >
                          <input type="hidden" name="oprtag" [(ngModel)]="oprtype" #oprtag="ngModel" >
                    <div class="modal-footer">
                        <button class="btn btn-primary btn-round commandbtn " ><i class="fa fa-check" aria-hidden="true"></i>Save</button>
                        <button type="button" class="btn btn-secondary btn-round commandbtn" data-dismiss="modal" ng-click="dclb()" (click)="c('Close click')">Close</button>
                    </div>
                </div>
            </div>
            </div>
            </form>
          </div>
        </section>
</div>