<div class="content-wrapper">
    <section class="content-header">
        
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Classroom</a></li>
            <li class="active">Assignments</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <mat-card class="dbox">
                    <div class="col-sm-12">
                        <form name="form" (ngSubmit)="f.form.valid && SaveAsgnmtDetails(f)" #f="ngForm" novalidate>
                            <div class="col-sm-2">
                                <mat-form-field class="pad-l-0 full-width">
                                    <mat-select placeholder="Class name" name="clid" (change)="SelectClsSubDetails(f)" [(ngModel)]="model.clid" #clid="ngModel">
                                        <mat-option *ngFor="let k of mascls" [value]="k.clid">
                                            {{ k.clname }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-2">
                                <mat-form-field class="pad-l-0 full-width">
                                    <mat-select placeholder="Section name" name="secid" [(ngModel)]="model.secid" #clid="ngModel">
                                        <mat-option *ngFor="let k of massec" [value]="k.secid">
                                            {{ k.secname }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-2">
                                <mat-form-field class="pad-l-0 full-width">
                                    <mat-select placeholder="sub name" name="subid" (change)="SaveAsgnmtDetails()" [(ngModel)]="model.subid" #assid="ngModel">
                                        <mat-option *ngFor="let k of clssub" [value]="k.subid">
                                            {{ k.subname }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <button class="btn btn-primary btn-round commandbtn "><i class="fa fa-search" aria-hidden="true"></i> Search</button>
                            <button class="btn btn-primary " style="float:right !important" data-toggle="modal" data-dismiss="modal" data-target="#myModal"
                            (click)="opendialog(model,'insert')"><i class="fa fa-plus" aria-hidden="true"> New Assignment</i></button>
                        </form>
                    </div>

       

                    <mat-card-content>
                        <mat-table #table [dataSource]="dataSource">
                            <!-- Position Column -->
                            <ng-container matColumnDef="action">
                                <mat-header-cell *matHeaderCellDef [ngClass]="'customWidthClass'">  </mat-header-cell>
                                <mat-cell *matCellDef="let row" [ngClass]="'customWidthClass'"> 
                                        <a> <i class="fa fa-edit commandicons" style="font-weight: bold" data-toggle="modal" data-dismiss="modal" data-target="#myModal" (click)="opendialog(row,'update')"  ></i></a>
                                <!-- <button mat-icon-button color="accent" data-toggle="modal" data-dismiss="modal" data-target="#myModal" (click)="opendialog(row,'update')" > <i class="material-icons">edit</i></button>
                                <button mat-icon-button color="accent" (click)="deletefnc(row)" > <i class="material-icons">delete</i></button> -->
                                
                                      
                                  </mat-cell>
                              </ng-container>
                            <ng-container matColumnDef="hwdt">
                                <mat-header-cell *matHeaderCellDef> Assignment Date </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.hwdt }} </mat-cell>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="duedt">
                                <mat-header-cell *matHeaderCellDef> Due Date </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.duedt }} </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="hwdetails">
                                <mat-header-cell *matHeaderCellDef> Details </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.hwdetails }} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="act2">
                                <mat-header-cell *matHeaderCellDef [ngClass]="'commandright'">  </mat-header-cell>
                                <mat-cell *matCellDef="let row" [ngClass]="'commandright'"> 
                                        <a> <i class="fa fa-minus-circle commandicons" style="font-weight: bold" (click)="deletefnc(row)"></i></a>
                                    <!-- <button mat-icon-button color="accent" data-toggle="modal" > <i class="material-icons">edit</i></button>
                                    <button mat-icon-button color="accent" (click)="deletefnc(row)"> <i class="material-icons">delete</i></button> -->
                                </mat-cell>
                            </ng-container> 
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>

                    </mat-card-content>
                    <!-- <button class="btn btn-primary btn-round commandbtn" (click)="MarksDetails()" style="margin-left: 1150px;"><i class="fa fa-save" aria-hidden="true"></i> Save</button> -->
                </mat-card>
            </div>
            <div id="myModal" class="modal fade" modal="delbcat" data-backdrop="false" role="dialog">
                <form name="form" (ngSubmit)="f.form.valid && SaveDetails(f)" #f="ngForm" novalidate>
                    <div class="modal-dialog ">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">{{title}}</h4>
                                <button type="button" class="close" data-dismiss="modal" #closeAddExpenseModal ng-click="dclb()">&times;</button>
                            </div>
                            <div class="modal-body">

                                <div class="row">
                                    <div class="col-md-6">

                                            <mat-form-field>
                                                    <input matInput [matDatepicker]="picker" name="hwdt" [(ngModel)]="model.hwdt" #hwdt="ngModel" placeholder="Assignment Date" required>
                                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker></mat-datepicker>
                                                  </mat-form-field>
                                        <!-- <mat-form-field class="full-width pad-r-0">
                                            <input matInput name="hwdt" [(ngModel)]="model.hwdt" #hwdt="ngModel" placeholder="Assignment Date" maxlength="15" required>
                                        </mat-form-field> -->
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">

                                            <mat-form-field>
                                                    <input matInput [matDatepicker]="picker1" name="duedt" [(ngModel)]="model.duedt" #duedt="ngModel" placeholder="Due Date" required>
                                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker1></mat-datepicker>
                                                  </mat-form-field>
                                        <!-- <mat-form-field class="full-width pad-r-0">
                                            <input matInput name="duedt" [(ngModel)]="model.duedt" #duedt="ngModel" placeholder="Due Date" maxlength="15" required>
                                        </mat-form-field> -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="full-width pad-r-0">
                                            <input matInput name="hwdetails" [(ngModel)]="model.hwdetails" #hwdetails="ngModel" placeholder="HW Details" maxlength="300" required>
                                        </mat-form-field>
                                    </div>
                                </div>


                                <input type="hidden" name="dbnm" [(ngModel)]="tempdbnm" #dbnm="ngModel">
                                <input type="hidden" name="clid" [(ngModel)]="model.clid" #clid="ngModel">
                                <input type="hidden" name="oprtag" [(ngModel)]="oprtype" #oprtag="ngModel">
                                <div class="modal-footer">
                                    <button class="btn btn-primary btn-round commandbtn "><i class="fa fa-check" aria-hidden="true"></i>Save</button>
                                    <button type="button" class="btn btn-secondary btn-round commandbtn" data-dismiss="modal" ng-click="dclb()" (click)="c('Close click')">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>