/* You can add global styles to this file, and also import other style files */

@import "./../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
    height: 100% !important;
    width: 100% !important;
    font-family: "Open Sans", sans-serif;
    
}
.text-center {
    text-align: center
}

.mat-header-cell {
    color: #000;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
}


.mat-table {
    display: block;
  }
  
  /* .mat-header-row {
    min-height: $mat-header-row-height;
  } */
  
  .mat-row {
    min-height: 30px;
  }


  .select2-container--default .select2-selection--single {
    background-color: #fff !important;
    border-bottom: 1px solid #aaa !important;
    border-radius: 0px;
}
